:root {
	--color-text-muted: #3b3b3bc9;
}

[data-theme="dark"] {
	--color-text-muted: #818181;
}

.text-muted {
	color: var(--color-text-muted);
}

* {
	scroll-behavior: smooth;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Inter", sans-serif;
}

header {
	line-height: 2rem;
}

h4 {
	line-height: 2.5rem;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a {
	display: block;
	position: relative;
	padding: 0.2em 0;
}

a::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1em;
	background: currentColor;
	opacity: 0;
	transition:
		opacity 300ms,
		transform 300ms;
}

a::after {
	opacity: 1;
	transform: scale(0);
	transform-origin: center;
}

a:hover::after,
a:focus::after {
	transform: scale(1);
}
