:root {
	--color-text-muted: #3b3b3bc9;
}

[data-theme="dark"] {
	--color-text-muted: #818181;
}

.text-muted {
	color: var(--color-text-muted);
}

body {
	font-family: "Inter", sans-serif;
}

a {
	text-decoration: none !important;
}